body {
    background-color: midnightblue;
}

/* Button Style */
.button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

/* Hover Button State */
  .button:hover {
    color: #000000;
    background-color: #FFFFFF;
  }


/* Active Button State */
  .button:active {
    background-color: rgb(236, 89, 148);
  }

/* responsive media */
  @media all and (max-width:30em){
    .button{
    display:block;
    margin:0.4em auto;
    }
  }